.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.slide-up-enter-active {
    transition: all .2s ease;
}

.slide-up-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-up-enter,
.slide-fade-leave-to {
    transform: translateY(100vh);
    opacity: 0;
}


.btn-purple {
    color: #ffffff;
    background: #7971ea;
    border-color: #7971ea;
}

.btn-purple:hover {
    color: #ffffff;
    background: #645dc9;
    border-color: #645dc9;
}

.bg-purple{
    background: #7971ea;
}